.quiz-card {
    background: #fff;
    color: #152b75;
    padding: 25px;
    border-radius: 20px;
    width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 5px 20px rgba(0,0,0,0.4), 4px 5px 50px rgba(0,0,0,0.1);

    #start {
        font-size: 4rem;
        margin: 100px 0px;
        cursor: pointer;
    }

    .globe {
        position: absolute;
        right: -50px;
        top: -80px;
    }

    .flag {
        width: 100px;
        margin-top: 70px;
        margin-bottom: -50px;
    }

    h2 {
        margin-bottom: 40px;
        margin-top: 70px;
    }

    #next-btn {
        background-color: #001c42;
        padding: 15px 0px;
        color: white;
        border-radius: 15px;
        border: none;
        width: 100%;
        font-size: 1.2rem;
        margin: 10px 0px;
        box-shadow: 0px 1px 7px rgba(0,0,0,0.4);

        &:disabled {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }

    .option {
        border: 1px solid #6f81bd;
        background-color: #fff;
        color: #6f81bd;
        margin: 20px 0px;
        padding: 14px 25px;
        border-radius: 12px;
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;
        transition: all ease 0.5s;

        &:disabled {
            cursor: not-allowed;
        }

        &.changing {
            &:hover {
                background-color: #ffb83d!important;
                color: white!important;
                border: none!important;
            }
        }
        
        .option-value {
            margin-left: 50px;
        }
    }

    .lives-remaining {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;

        #hearts {
            display: flex;
            padding: 0!important;
            margin: 0!important;
            width: 100px;
        }

        .heart {
            width: 20px;
            margin: 0px 5px;
        }
    }

    #new-quiz {
        width: 100%;
        border: none;
        padding: 12px;
        background-color: #001c42;
        color: white;
        border-radius: 10px;
        box-shadow: 0px 1px 7px rgba(0,0,0,0.4);
    }
}